version: "3.7"

services:
  postgres:
    image: postgres:13-alpine
    environment:
      POSTGRES_DB: pypixels
      POSTGRES_PASSWORD: pypixels
      POSTGRES_USER: pypixels
    volumes:
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./postgres:/scripts
    ports:
      - "127.0.0.1:5000:5432"

  redis:
    image: redis:latest
    ports:
      - "127.0.0.1:6379:6379"

  pixels:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/pixels:ro
    tty: true
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    ports:
      - "127.0.0.1:8000:80"
    environment:
      DATABASE_URL: postgres://pypixels:pypixels@postgres:5432/pypixels
      REDIS_URL: redis://redis:6379
