[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "~=0.22"
uvicorn = "~=0.13.4"
fastapi = "~=0.63.0"
python-decouple = "*"
httpx = "*"
python-jose = {extras = ["cryptography"],version = "*"}
jinja2 = "*"

[dev-packages]
coverage = "~=5.0"
flake8 = "~=3.8"
flake8-annotations = "~=2.0"
flake8-bugbear = "~=20.1"
flake8-docstrings = "~=1.4"
flake8-import-order = "~=0.18"
flake8-string-format = "~=0.2"
flake8-tidy-imports = "~=4.0"
flake8-todo = "~=0.7"
pep8-naming = "~=0.9"
pre-commit = "~=2.1"

[requires]
python_version = "3.8"

[scripts]
start = "uvicorn april.april:app"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
