{% extends "base.html" %}
{% block title %}Python Discord Pixels • API Token{% endblock %}
{% block head %}
  <script type="text/javascript">
    function copyToClipboard(element) {
        var copyText = document.getElementById(element);
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
        document.execCommand("copy");
    }
  </script>
{% endblock %}

{% block content %}
  <div class="main-box">
    <div class="logo-box">
      <img
        src="https://raw.githubusercontent.com/python-discord/branding/b67897df93e572c1576a9026eb78c785a794d226/logos/logo_banner/logo_site_banner.svg"
        alt="Python Discord banner" />
    </div>
    <div class="content-box">
      <h2>Your API token:</h2>
      <input type="text" class="api_token" id="token" value="{{  token  }}" readonly>
      <button onclick="copyToClipboard('token')">Copy token</button>
    </div>
  </div>
{% endblock %}
