{% extends "base.html" %}
{% block title %}Python Discord Pixels{% endblock %}
{% block content %}
  <div class="main-box">
    <div class="logo-box">
      <img
        src="https://raw.githubusercontent.com/python-discord/branding/b67897df93e572c1576a9026eb78c785a794d226/logos/logo_banner/logo_site_banner.svg"
        alt="Python Discord banner"
      />
    </div>
    <div class="content-box">
        <h1>404 — Not Found</h1>
        <p>We couldn't find the page you're looking for. Here are a few things to try out:</p>
        <ul>
            <li>Double check the URL. Are you sure you typed it out correctly?</li>
            <li>
                Come join <a href="https://discord.gg/python">our Discord Server</a>.
                Maybe we can help you out over there.
            </li>
        </ul>
    </div>
  </div>
{% endblock %}
