{% extends "base.html" %}
{% block title %}Python Discord Pixels{% endblock %}
{% block content %}
  <div class="main-box">
    <div class="header-box">
        <div class="header-content">
            <h1>404</h1>
            <p>Not Found</p>
        </div>
    </div>
    <div class="content-box">
        <p>We couldn't find the page you're looking for. Here are a few things to try out:</p>
        <ul>
            <li>Double check the URL. Are you sure you typed it out correctly?</li>
            <li>
                Come join <a href="https://discord.gg/python">our Discord Server</a>.
                Maybe we can help you out over there.
            </li>
        </ul>
    </div>
    <div class="logo-box">
      <a href="https://pythondiscord.com/">
          <img
            src="https://raw.githubusercontent.com/python-discord/branding/b67897df93e572c1576a9026eb78c785a794d226/logos/logo_banner/logo_site_banner.svg"
            alt="Python Discord banner"
          />
      </a>
    </div>
  </div>
{% endblock %}
